* {
    font-size: 8vh;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

#kitty {
    align-self: flex-start;
    font-size: 3vh;
    width: 40vh;
    height: 5vh;
    margin: 3vh;
    border-radius: 2vh;
    border: solid black 0.5vh;
    transition: 0;

}
.box {
    background-color: rgb(133, 144, 140);
    width: 160vh;
    height: 80vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border: solid black 0.5vh;
}

.display {
    background-color: antiquewhite;
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 3vh;
    border: 1vh dotted lightgray;
    gap: 3vh;
    justify-content: center;
    margin: 1vh;
}

.bottom {
    flex: 3;
    display: flex;
    gap: 2vh
}
.operatoren, .zahlen {
    flex:1;
    background-color: antiquewhite;
    border: 1vh dotted lightgray;
    border-radius: 2vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 1vh;
    gap: 1vh;
    margin: 1vh;
}

.zahl {
    border: none;
    width: 30%;
    height: 22%;
    border-radius: 2vh;
    background-color: rgb(133, 144, 140);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.operator {
    border: none;
    width: 40%;
    height: 25%;
    border-radius: 2vh;
    background-color: rgb(133, 144, 140);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

button {
    transition: all .15s ease;
}

.active {
    transform: scale(1.2);
    border: 1px solid black;
  }

  .styleKitty1{
    color: white;
    background-color:#F694C1;
  }

  .styleKitty2 {
    background-color: pink;
    border-color: white;
    color: white;

  }